SECRET_KEY = "sua_chave_secreta_muito_segura_aqui"
ALGORITHM = "HS256"
ACCESS_TOKEN_EXPIRE_MINUTES = 60
SQLALCHEMY_DATABASE_URL = "sqlite:///./hackathon.db"

# Credenciais de email (Gmail com App Password)
EMAIL_USER = "seu_email@gmail.com"
EMAIL_PASSWORD = "sua_app_password_do_gmail"
